*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodycontainer{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}